
body {
  background-color: lightblue;
  text-align: center;

}

h1 {
  color: darkred;
  background-color: white;
  text-align: center;
  border: 2px solid darkred;
}

header { 
  color: darkred;
  background-color: lightgray;
  font-family: Calibri;
  font-size: 80px;
  text-align: center;
  font-weight: bold;
}

footer {
  font-family: times new roman;
  font-size: 10px;
  text-align: center;
  color: gray;
}

details {
  color: brown;
  font-family: Calibri;
  font-size: 30px;
  text-align: center;
}

button {
  background-color: gray
  border: none;
  color: darkred;
  padding: 15px 32px;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 18px;
}

a {
color: darkred;
  font-family: Calibri;
  font-size: 20px;
  text-align: center;
}

div {
  width: 500px;
  border: 10px dashed gray;
  padding: 30px;
  margin: auto;
}

summary {
  text-shadow: 2px 2px 5px lightgray;
  text-align: center;
}

img {
 opacity: 0.5;
}

#hobby1 {
  background-color: lemonchiffon;
}

#hobby2 {
  background-color: lightcyan;
}

#hobby3 {
  background-color: mistyrose;
}
